@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.bill-amount {
  padding: 3.2rem;

  @include responsive(desktop) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
}

.bill-amount label {
  display: block;
  font-weight: 700;
  line-height: 2.37rem;
  color: $dark-grayish-cyan;
  margin-bottom: 0.6rem;
}

/* https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/ */
.bill-amount input {
  @include numericInputs;
  background-image: url('/assets/icon-dollar.svg');
  background-size: 0.984rem 1.546rem;
  background-position: 1.926rem 50%;
}

.bill-amount input:focus {
  @include inputFocus;
}

.bill-amount input:focus::placeholder {
  opacity: 0;
}
.bill-amount label:focus + .bill-amount input::placeholder {
  opacity: 0;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
.bill-amount input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  @include placeholderStyles;
}
.bill-amount input::-moz-placeholder {
  /* Firefox 19+ */
  @include placeholderStyles;
}
.bill-amount input:-ms-input-placeholder {
  /* IE 10+ */
  @include placeholderStyles;
}
.bill-amount input:-moz-placeholder {
  /* Firefox 18- */
  @include placeholderStyles;
}
