@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.people {
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
  position: relative;

  @include responsive(desktop) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  & label {
    @include labelStyle;
  }

  /* https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/ */
  & input {
    @include numericInputs;
    background-image: url('/assets/icon-person.svg');
    background-size: 1.3rem;
    background-position: 1.926rem 50%;

    &:not(:focus):not(:placeholder-shown):invalid {
      border: $border-error;
    }

    &:not(:focus):not(:placeholder-shown):valid {
      border: $border-success;
    }

    @include placeholders;
  }

  & small {
    top: 15%;
    right: 3.2rem;
  }
}
