@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  font-family: $space-mono;
  font-size: 1.6rem;
  height: 100%;
  background-color: $light-cyan;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.37rem;

  @include responsive(tablet) {
    margin-top: 2rem;
  }
}

.site {
  display: grid;
  place-content: center;
}

.logo {
  margin: 5rem auto 4.086rem;
  @include responsive(desktop) {
    margin-bottom: 8.786rem;
  }
}
