@use './variables' as *;

@mixin numericInputs {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  font-size: max(2.4rem, 1rem);
  line-height: 1;
  text-align: right;
  color: $dark-cyan;
  opacity: 1;
  padding: 0.25em 0.5em;
  background-repeat: no-repeat;
  background-position: 1.926rem 50%;
  background-color: $input-bg-bill-amount;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  transition: 180ms box-shadow ease-in-out;
}

@mixin inputFocus {
  border: 2px solid $input-border;
  box-shadow: 0 0 0 1px $input-focus-shadow;
  outline: 2px solid transparent;
}

@mixin placeholderStyles {
  color: $dark-cyan;
  opacity: 1;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == tiny {
    @media (min-width: 260px) {
      @content;
    }
  }

  @if $breakpoint == small {
    @media (min-width: 300px) {
      @content;
    }
  }

  @if $breakpoint == medium {
    @media (min-width: 360px) {
      @content;
    }
  }

  @if $breakpoint == big {
    @media (min-width: 400px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (min-width: 500px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 1000px) {
      @content;
    }
  }
}

@mixin labelStyle {
  display: block;
  font-weight: 700;
  line-height: 2.37rem;
  color: $dark-grayish-cyan;
  margin-bottom: 0.6rem;
}

/* https://css-tricks.com/almanac/selectors/p/placeholder/ */
@mixin placeholders {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $dark-cyan;
    opacity: 0.5;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $dark-cyan;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $dark-cyan;
    opacity: 0.5;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $dark-cyan;
    opacity: 0.5;
  }
}
