$cyan: hsl(172, 67%, 45%);

$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-cyan: hsl(185, 41%, 84%);
$light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$input-border: var(--cyan);
$input-bg-bill-amount: hsla(185, 38%, 97%, 1);
$input-focus-shadow: hsl(172, 87%, 65%);
$input-custom-text: hsl(180, 18%, 40%);

$selected-bg: hsla(173, 61%, 77%, 1);
$secondary-text: hsla(183, 15%, 56%, 1);

$color-invalid: hsl(13, 70%, 61%);
$color-valid: $cyan;

$border-error: 3px solid $color-invalid;
$border-success: 3px solid $color-valid;
$disabled-button-bg: hsla(183, 78%, 24%, 1);

$space-mono: 'Space Mono', 'Lucida Sans', 'Lucida Grande', sans-serif;

$height-input: 4.8rem;
